body {
    background-color: #D3D3D3;
}

#title {
    font-weight:bold;
}

#subtitle{
    padding-left: 2%;
    font-style: italic;
}

#intro {
    padding-left: 1%;
}

#logo {
    width: 150px;
    float: right;
    padding-right: 1%;
}


#content{
  font-size: 16px;
}

.codebox {
    /* Below are styles for the codebox (not the code itself) */
    border:1px solid black;
    background-color:#EEEEFF;
    width:300px;
    overflow:auto;
    padding:10px;
}
.codebox code {
    font-size:0.9em;
    color: black;
}
